$white: #ffffff;

$black: #1c1b1a;
$grey: #e8e8e8;

$light-blue: #e4f0ff;
$blue: #2985f7;

$gold: #eca750;
$platinum: #999999;
$silver: #adc1c4;
$bronze: #ab6341;
$catastrophic: #d54a51;

$yellow: #ffc000;