/* Medium Devices, Desktops */
@media only screen and (max-width: 768px) {

  .table_line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .insure_card {
    //display: flex;
    flex-direction: column;
    //align-items: center;
    align-items: flex-start;
    //width: 100%;
    //height: 80px;
    width: 230px;
    height: 400px;
    //margin: 0 auto;
    //border-bottom: 1px solid $grey;
    border-bottom: none;
    padding-left: 30px;

    font-size: 14px;
    font-weight: 400;

    //------------------------------------------------ column #1
    .insure_card-company {
      display: flex;
      //flex-direction: column;
      justify-content: center;
      //flex-shrink: 1;
      //flex-basis: 180px;
      flex-basis: 150px;
      text-transform: capitalize;
      align-items: center;


      .company_logo {
        //margin-right: 17px;
        margin-right: 5px;
      }
      .company {
        display: flex;
        flex-direction: column;
        .company_name {
          text-transform: capitalize;
        }
        .company_stars {
          & .star {
            &:before {
              content: "\2605";
              //color: $yellow;
              font-size: 14px;
            }
          }
        }
      }
      &:before {
        content: 'company:';
        display: inline-block;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.75px;
        color: $platinum;
        width: 80px;
        padding-right: 5px;
      }

    }
    //------------------------------------------------ column #2
    .insure_card-covering {
      //flex-basis: 114px;
      //flex-shrink: 2;
      flex-basis: 30px;
      flex-shrink: 0;
      //text-transform: capitalize;
      :before {
        @extend .insure_card-company:before;
        content: 'covering:';
      }
    }
    //------------------------------------------------ column #3
    .insure_card-type {
      display: flex;
      align-items: center;
      //flex-shrink: 2;
      //flex-basis: 107px;
      flex-shrink: 0;
      flex-basis: 30px;
      p {
        //text-transform: uppercase;
        //padding-right: 5px;
      }
      &:before {
        @extend .insure_card-company:before;
        content: 'type:';
      }
      .circle {
        //width: 14px;
        //height: 14px;
        //border-radius: 7px;
        &.circle_question {
          //background-color: $light-blue;
          //color: $blue;
          //font-size: 12px;
          //line-height: 14px;
          //text-align: center;
        }
      }
    }
    //------------------------------------------------ column #4
    .insure_card-metal {
      //display: flex;
      //align-items: center;

      //flex-shrink: 2;
      //flex-basis: 175px;
      flex-shrink: 0;
      flex-basis: 30px;
      p {
        //text-transform: capitalize;
        //padding: 0 5px;
      }
      &:before {
        @extend .insure_card-company:before;
        content: 'metal level:';
      }
      .circle {
        //width: 14px;
        //height: 14px;
        //border-radius: 7px;
        &.circle_question {
          //background-color: $light-blue;
          //color: $blue;
          //font-size: 12px;
          //line-height: 14px;
          //text-align: center;
        }
        &.circle_color {
          //background-color: $platinum;
        }
      }
    }
    //------------------------------------------------ column #5
    .insure_card-drugs {
      //flex-basis: 88px;
      //flex-shrink: 2;

      flex-shrink: 0;
      flex-basis: 30px;
      span {

        &:before {
          @extend .insure_card-company:before;
          content: 'drugs:';
        }
      }
    }
    //------------------------------------------------ column #6
    .insure_card-visits {
      //flex-basis: 115px;
      //flex-shrink: 2;
      flex-shrink: 0;
      flex-basis: 40px;
      span {

        &:before {
          @extend .insure_card-company:before;
          content: 'primary care visits:';
        }
      }
    }
    //------------------------------------------------ column #7
    .insure_card-deduct {
      //flex-basis: 119px;
      //flex-shrink: 2;
      flex-shrink: 0;
      flex-basis: 40px;
      p {

        &:before {
          @extend .insure_card-company:before;
          content: 'yearly deductible:';
        }
      }
    }
    //------------------------------------------------ column #8
    .insure_card-price {
      //flex-basis: 119px;
      //flex-shrink: 2;
      flex-shrink: 0;
      flex-basis: 30px;
      p {
        &:before {
          @extend .insure_card-company:before;
          content: 'price:';
        }
      }
    }
    //------------------------------------------------ column #9
    .insure_card-btn {
      //display: flex;
      //flex-basis: 183px;
      //flex-shrink: 1;
      //text-transform: uppercase;
      //font-size: 10px;
      //text-align: center;
      //letter-spacing: 1pt;
      .btn_overview {
        //background-color: $white;
        //width: 106px;
        width: 80px;
        //height: 30px;
        //border: 1px solid $grey;
        //border-radius: 4px;
        //line-height: 30px;
        //margin-right: 5px;
        //cursor: pointer;
        a {
          //color: $blue;
        }
      }
      .btn_buy {
        //background-color: $blue;
        width: 80px;
        //height: 30px;
        //border-radius: 4px;
        //line-height: 30px;
        //cursor: pointer;
        a {
          //color: $white;
        }
      }
    }
  }

}