

  .table_line_switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
  }

  .insure_card_switch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 230px;
    height: 400px;
    border-bottom: none;
    padding-left: 30px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;

    //------------------------------------------------ column #1
    .insure_card-company_switch {
      display: flex;
      justify-content: center;
      flex-basis: 100px;
      text-transform: capitalize;
      align-items: center;

      .company_logo_switch {
        margin-right: 5px;
      }
      &:before {
        display: inline-block;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.75px;
        color: $platinum;
        width: 80px;
        padding-right: 5px;
        content: 'company:';
      }
      .company {
        display: flex;
        flex-direction: column;
        .company_name {
          text-transform: capitalize;
        }
        .company_stars {
          .star {
            color: $platinum;
            font-size: 14px;
            &:before {
              content: "\2605";
            }
          }
        }
      }
    }
    //------------------------------------------------ column #2
    .insure_card-covering_switch {
      flex-basis: 30px;
      flex-shrink: 0;
      align-items: center;
      :before {
        display: inline-block;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.75px;
        color: $platinum;
        width: 80px;
        padding-right: 5px;
        content: 'covering:';
      }
    }
    //------------------------------------------------ column #3
    .insure_card-type_switch {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-basis: 30px;
      p {
        text-transform: uppercase;
        padding-right: 5px;
      }
      &:before {
        display: inline-block;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.75px;
        color: $platinum;
        width: 80px;
        padding-right: 5px;
        content: 'type:';
      }
      .circle {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        &.circle_question {
          background-color: $light-blue;
          color: $blue;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
        }
      }
    }

    //------------------------------------------------ column #4
    .insure_card-metal_switch {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-basis: 30px;
      p {
        text-transform: capitalize;
        padding: 0 5px;
      }
      &:before {
        display: inline-block;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.75px;
        color: $platinum;
        width: 80px;
        padding-right: 5px;
        content: 'metal level:';
      }
      .circle {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        &.circle_question {
          background-color: $light-blue;
          color: $blue;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
        }
        &.circle_color {
          background-color: $platinum;
        }
      }
    }
    //------------------------------------------------ column #5
    .insure_card-drugs_switch {
      flex-shrink: 0;
      flex-basis: 30px;
      align-items: center;
      span {
        &:before {
          display: inline-block;
          font-size: 10px;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 0.75px;
          color: $platinum;
          width: 80px;
          padding-right: 5px;
          content: 'drugs:';
        }
      }
    }
    //------------------------------------------------ column #6
    .insure_card-visits_switch {
      flex-shrink: 0;
      flex-basis: 40px;
      align-items: center;
      span {
        &:before {
          display: inline-block;
          font-size: 10px;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 0.75px;
          color: $platinum;
          width: 80px;
          padding-right: 5px;
          content: 'primary care visits:';
        }
      }
    }
    //------------------------------------------------ column #7
    .insure_card-deduct_switch {
      flex-shrink: 0;
      flex-basis: 40px;
      p {
        &:before {
          display: inline-block;
          font-size: 10px;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 0.75px;
          color: $platinum;
          width: 80px;
          padding-right: 5px;
          content: 'yearly deductible:';
        }
      }
    }
    //------------------------------------------------ column #8
    .insure_card-price_switch {
      flex-shrink: 0;
      flex-basis: 30px;
      p {
        &:before {
          display: inline-block;
          font-size: 10px;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 0.75px;
          color: $platinum;
          width: 80px;
          padding-right: 5px;
          content: 'price:';
        }
      }
    }
    //------------------------------------------------ column #9
    .insure_card-btn_switch {
      display: flex;
      flex-basis: 183px;
      text-transform: uppercase;
      font-size: 10px;
      text-align: center;
      letter-spacing: 1pt;
      .btn_overview_switch {
        background-color: $white;
        width: 80px;
        height: 30px;
        border: 1px solid $grey;
        border-radius: 4px;
        line-height: 30px;
        margin-right: 5px;
        cursor: pointer;
        a {
          color: $blue;
        }
      }
      .btn_buy_switch {
        background-color: $blue;
        width: 80px;
        height: 30px;
        border-radius: 4px;
        border: 1px solid $blue;
        line-height: 30px;
        cursor: pointer;
        a {
          color: $white;
        }
      }
    }
  }

