/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `list` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `list` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement list to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel list in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel list when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans', sans-serif; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  width: 100%;
  height: 100%; }

#root {
  height: 100%; }

::-webkit-scrollbar {
  width: 0; }

a:link {
  text-decoration: none;
  transition: all 0.2s ease-in-out; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0; }

#main_header {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0 1px 5px #e8e8e8;
  background-color: #ffffff;
  z-index: 10;
  transition: 300ms; }
  #main_header .nav {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative; }
    #main_header .nav .main_header-logo {
      position: absolute;
      left: 0;
      top: 0; }
    #main_header .nav .main_header-menu {
      display: flex;
      text-transform: capitalize; }
      #main_header .nav .main_header-menu li {
        height: 70px;
        padding: 0 20px;
        transition: 200ms;
        font-size: 14px; }
        #main_header .nav .main_header-menu li a {
          line-height: 70px;
          display: block;
          color: #999999;
          border-bottom: 3px solid transparent; }
        #main_header .nav .main_header-menu li:hover a {
          border-bottom: 3px solid #2985f7;
          color: #1c1b1a; }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1200px) {
  #main_header .nav {
    max-width: 990px;
    margin: 0 auto; } }

@media only screen and (max-width: 990px) {
  #main_header .nav {
    max-width: 768px;
    margin: 0 auto; } }

@media only screen and (max-width: 768px) {
  #main_header {
    padding: 0 20px; }
    #main_header .nav .main_header-menu li {
      padding: 0 10px;
      font-size: 12px; } }

@media only screen and (max-width: 560px) {
  #main_header {
    height: auto; }
    #main_header .nav {
      flex-direction: column; }
      #main_header .nav .main_header-logo {
        position: relative;
        margin: 0 auto;
        width: 100%; }
      #main_header .nav .main_header-menu {
        height: 40px; }
        #main_header .nav .main_header-menu li {
          height: 100%;
          padding: 0 10px;
          font-size: 12px; }
          #main_header .nav .main_header-menu li a {
            line-height: 40px; } }

.main_topline {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 84px;
  align-items: flex-end; }
  .main_topline .main_topline-name {
    flex-basis: 160px;
    font-size: 24px;
    padding-bottom: 10px; }
  .main_topline .main_topline-view_switch {
    flex-basis: 67px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-bottom: 16px; }
    .main_topline .main_topline-view_switch .view_switch-list {
      cursor: pointer;
      width: 18px;
      height: 18px;
      margin-right: auto;
      padding-right: 16px;
      border-right: 1px solid #e8e8e8; }
    .main_topline .main_topline-view_switch .view_switch-plitka {
      cursor: pointer;
      width: 18px;
      height: 18px;
      margin-left: auto; }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1200px) {
  .main_topline {
    margin: 0 auto;
    max-width: 990px; } }

@media only screen and (max-width: 990px) {
  .main_topline {
    margin: 0 auto;
    max-width: 768px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 768px) {
  .main_topline {
    height: 56px; }
    .main_topline .main_topline-name {
      font-size: 18px;
      padding: 0 20px; }
    .main_topline .main_topline-view_switch {
      display: none; } }

.table_head {
  display: flex;
  height: 25px;
  padding-top: 31px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.75px;
  color: #999999;
  border-top: 1px solid #e8e8e8; }
  .table_head .table_head-company {
    flex-basis: 180px; }
  .table_head .table_head-covering {
    flex-basis: 114px; }
  .table_head .table_head-type {
    flex-basis: 107px; }
  .table_head .table_head-metal {
    flex-basis: 175px; }
  .table_head .table_head-drugs {
    flex-basis: 88px; }
  .table_head .table_head-visits {
    flex-basis: 115px; }
  .table_head .table_head-deduct {
    flex-basis: 119px; }
  .table_head .table_head-price {
    flex-basis: 119px; }
  .table_head .table_head-btn {
    flex-basis: 183px; }

@media only screen and (max-width: 1200px) {
  .table_head {
    padding-top: 31px;
    font-size: 10px; }
    .table_head .table_head-company {
      flex-basis: 170px; }
    .table_head .table_head-covering {
      flex-basis: 114px; }
    .table_head .table_head-type {
      flex-basis: 107px; }
    .table_head .table_head-metal {
      flex-basis: 165px; }
    .table_head .table_head-drugs {
      flex-basis: 83px; }
    .table_head .table_head-visits {
      flex-basis: 110px; }
    .table_head .table_head-deduct {
      flex-basis: 114px; }
    .table_head .table_head-price {
      flex-basis: 119px; }
    .table_head .table_head-btn {
      flex-basis: 218px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .table_head {
    padding-top: 31px;
    font-size: 8px; }
    .table_head .table_head-company {
      flex-basis: 145px; }
    .table_head .table_head-covering {
      flex-basis: 65px; }
    .table_head .table_head-type {
      flex-basis: 60px; }
    .table_head .table_head-metal {
      flex-basis: 120px; }
    .table_head .table_head-drugs {
      flex-basis: 45px; }
    .table_head .table_head-visits {
      flex-basis: 70px; }
    .table_head .table_head-deduct {
      flex-basis: 75px; }
    .table_head .table_head-price {
      flex-basis: 70px; }
    .table_head .table_head-btn {
      flex-basis: 115px; } }

@media only screen and (max-width: 768px) {
  .table_head {
    display: none; } }

.main_wrapper {
  display: block;
  position: relative;
  max-width: 1440px;
  margin: 0 auto; }

.main_table {
  display: block;
  max-width: 1200px;
  margin: 0 auto; }

.table_line {
  display: flex;
  flex-direction: column;
  max-width: 1200px; }

.insure_card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
  font-weight: 400; }
  .insure_card .insure_card-company {
    display: flex;
    flex-basis: 180px;
    text-transform: capitalize;
    align-items: center; }
    .insure_card .insure_card-company .company_logo {
      margin-right: 17px; }
    .insure_card .insure_card-company .company {
      display: flex;
      flex-direction: column; }
      .insure_card .insure_card-company .company .company_name {
        text-transform: capitalize; }
      .insure_card .insure_card-company .company .company_stars .star:before {
        content: "\2605";
        color: #ffc000;
        font-size: 14px; }
  .insure_card .insure_card-covering {
    flex-basis: 114px; }
  .insure_card .insure_card-type {
    display: flex;
    align-items: center;
    flex-basis: 107px; }
    .insure_card .insure_card-type p {
      text-transform: uppercase;
      padding-right: 5px; }
    .insure_card .insure_card-type .circle {
      width: 14px;
      height: 14px;
      border-radius: 7px; }
      .insure_card .insure_card-type .circle.circle_question {
        background-color: #e4f0ff;
        color: #2985f7;
        font-size: 12px;
        line-height: 14px;
        text-align: center; }
  .insure_card .insure_card-metal {
    display: flex;
    align-items: center;
    flex-basis: 175px; }
    .insure_card .insure_card-metal p {
      text-transform: capitalize;
      padding: 0 5px; }
    .insure_card .insure_card-metal .circle {
      width: 14px;
      height: 14px;
      border-radius: 7px; }
      .insure_card .insure_card-metal .circle.circle_question {
        background-color: #e4f0ff;
        color: #2985f7;
        font-size: 12px;
        line-height: 14px;
        text-align: center; }
      .insure_card .insure_card-metal .circle.circle_color {
        background-color: #999999; }
  .insure_card .insure_card-drugs {
    flex-basis: 88px; }
  .insure_card .insure_card-visits {
    flex-basis: 115px; }
  .insure_card .insure_card-deduct {
    flex-basis: 119px; }
  .insure_card .insure_card-price {
    flex-basis: 119px; }
  .insure_card .insure_card-btn {
    display: flex;
    flex-basis: 183px;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1pt; }
    .insure_card .insure_card-btn .btn_overview {
      background-color: #ffffff;
      width: 106px;
      height: 30px;
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      line-height: 30px;
      margin-right: 5px;
      cursor: pointer; }
      .insure_card .insure_card-btn .btn_overview a {
        color: #2985f7; }
    .insure_card .insure_card-btn .btn_buy {
      background-color: #2985f7;
      width: 68px;
      height: 30px;
      border-radius: 4px;
      border: 1px solid #2985f7;
      line-height: 30px;
      cursor: pointer; }
      .insure_card .insure_card-btn .btn_buy a {
        color: #ffffff; }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1200px) {
  .main_table {
    margin: 0 auto;
    max-width: 990px; } }

@media only screen and (max-width: 992px) {
  .main_table {
    margin: 0 auto;
    max-width: 768px; }
  .insure_card {
    font-size: 12px; }
    .insure_card .insure_card-company {
      display: flex;
      flex-basis: 145px;
      align-items: center; }
      .insure_card .insure_card-company .company_logo {
        margin-right: 17px; }
      .insure_card .insure_card-company .company {
        display: flex;
        flex-direction: column; }
        .insure_card .insure_card-company .company .company_name {
          text-transform: capitalize; }
        .insure_card .insure_card-company .company .company_stars .star:before {
          content: "\2605";
          color: #ffc000;
          font-size: 14px; }
    .insure_card .insure_card-covering {
      flex-basis: 65px; }
    .insure_card .insure_card-type {
      display: flex;
      align-items: center;
      flex-basis: 60px; }
      .insure_card .insure_card-type p {
        text-transform: uppercase;
        padding-right: 5px; }
      .insure_card .insure_card-type .circle {
        width: 14px;
        height: 14px;
        border-radius: 7px; }
        .insure_card .insure_card-type .circle.circle_question {
          background-color: #e4f0ff;
          color: #2985f7;
          font-size: 12px;
          line-height: 14px;
          text-align: center; }
    .insure_card .insure_card-metal {
      display: flex;
      align-items: center;
      flex-basis: 120px; }
      .insure_card .insure_card-metal p {
        text-transform: capitalize;
        padding: 0 5px; }
      .insure_card .insure_card-metal .circle {
        width: 14px;
        height: 14px;
        border-radius: 7px; }
        .insure_card .insure_card-metal .circle.circle_question {
          background-color: #e4f0ff;
          color: #2985f7;
          font-size: 12px;
          line-height: 14px;
          text-align: center; }
        .insure_card .insure_card-metal .circle.circle_color {
          background-color: #999999; }
    .insure_card .insure_card-drugs {
      flex-basis: 45px; }
    .insure_card .insure_card-visits {
      flex-basis: 70px; }
    .insure_card .insure_card-deduct {
      flex-basis: 75px; }
    .insure_card .insure_card-price {
      flex-basis: 70px; }
    .insure_card .insure_card-btn {
      flex-basis: 115px; }
      .insure_card .insure_card-btn .btn_overview {
        width: 70px; }
      .insure_card .insure_card-btn .btn_buy {
        width: 40px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 768px) {
  .table_line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; }
  .insure_card {
    flex-direction: column;
    align-items: flex-start;
    width: 230px;
    height: 400px;
    border-bottom: none;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 400; }
    .insure_card .insure_card-company {
      display: flex;
      justify-content: center;
      flex-basis: 150px;
      text-transform: capitalize;
      align-items: center; }
      .insure_card .insure_card-company .company_logo {
        margin-right: 5px; }
      .insure_card .insure_card-company .company {
        display: flex;
        flex-direction: column; }
        .insure_card .insure_card-company .company .company_name {
          text-transform: capitalize; }
        .insure_card .insure_card-company .company .company_stars .star:before {
          content: "\2605";
          color: #ffc000;
          font-size: 14px; }
      .insure_card .insure_card-company:before, .insure_card .insure_card-covering :before, .insure_card .insure_card-type:before, .insure_card .insure_card-metal:before, .insure_card .insure_card-drugs span:before, .insure_card .insure_card-visits span:before, .insure_card .insure_card-deduct p:before, .insure_card .insure_card-price p:before {
        content: 'company:';
        display: inline-block;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.75px;
        color: #999999;
        width: 80px;
        padding-right: 5px; }
    .insure_card .insure_card-covering {
      flex-basis: 30px;
      flex-shrink: 0; }
      .insure_card .insure_card-covering :before {
        content: 'covering:'; }
    .insure_card .insure_card-type {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-basis: 30px; }
      .insure_card .insure_card-type:before {
        content: 'type:'; }
    .insure_card .insure_card-metal {
      flex-shrink: 0;
      flex-basis: 30px; }
      .insure_card .insure_card-metal:before {
        content: 'metal level:'; }
    .insure_card .insure_card-drugs {
      flex-shrink: 0;
      flex-basis: 30px; }
      .insure_card .insure_card-drugs span:before {
        content: 'drugs:'; }
    .insure_card .insure_card-visits {
      flex-shrink: 0;
      flex-basis: 40px; }
      .insure_card .insure_card-visits span:before {
        content: 'primary care visits:'; }
    .insure_card .insure_card-deduct {
      flex-shrink: 0;
      flex-basis: 40px; }
      .insure_card .insure_card-deduct p:before {
        content: 'yearly deductible:'; }
    .insure_card .insure_card-price {
      flex-shrink: 0;
      flex-basis: 30px; }
      .insure_card .insure_card-price p:before {
        content: 'price:'; }
    .insure_card .insure_card-btn .btn_overview {
      width: 80px; }
    .insure_card .insure_card-btn .btn_buy {
      width: 80px; } }

.footer_wrapper {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }
  .footer_wrapper .footer_wrapper_empty {
    height: 80px;
    width: 100%;
    margin: 0 auto; }

footer {
  position: relative;
  width: 100%;
  height: 80px;
  border-top: 1px solid #e8e8e8;
  margin: -81px auto 0; }
  footer .footer_nav {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 100%;
    margin: 0 auto; }
    footer .footer_nav .footer_logo {
      font-size: 12px;
      padding-right: 31px; }
    footer .footer_nav ul {
      display: flex;
      font-size: 12px; }
      footer .footer_nav ul li {
        padding-right: 31px; }
        footer .footer_nav ul li a {
          color: #999999; }
          footer .footer_nav ul li a:hover {
            color: #e8e8e8; }

@media only screen and (max-width: 1200px) {
  footer .footer_nav {
    max-width: 990px; } }

@media only screen and (max-width: 990px) {
  footer .footer_nav {
    max-width: 768px; } }

@media only screen and (max-width: 768px) {
  footer .footer_nav {
    padding-left: 20px; } }

@media only screen and (max-width: 560px) {
  footer .footer_nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start; }
    footer .footer_nav .footer_logo {
      order: 1;
      padding-left: 20px; }
    footer .footer_nav ul {
      order: 0;
      padding-left: 20px; }
      footer .footer_nav ul li {
        padding-right: 10px; } }
